@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');
@font-face {
    font-family: logo;
    src: url("../assets/doomed.ttf");
}

$bg1: #222222;
$bg2: #2e2e2e;
$active: #9900ff;
$h1: #e8e8e8;
$p1: #d4d4d4;

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', sans-serif;
    ::selection {
        background: $active;
    }
}

header {
    height: 75dvh;
    width: 100%;
    background: $bg1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: url('../assets/banner-bg.png');
    transform: translateZ(-100px);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#textWrapper {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #fff;
    transform: translateZ(0);
    filter: drop-shadow(0 0 1vmin #ffffffa1);
}
#textWrapper span {
    padding-right: 3vmin;
    font-size: 5vmin;
    font-weight: 400;
    font-family: 'JetBrains Mono', sans-serif;
}
#textWrapper h1 {
    font-weight: 400;
    font-family: logo;
    font-size: 9vmin;
}
section {
    height: 75dvh;
    width: 100%;
    display: block;
    position: relative;
}
#s1 {
    background: url("../assets/bg1.png");
    transform: translateZ(-100px);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    #title {
        font-size: 8vmin;
        text-align: right;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        color: $h1;
        filter: drop-shadow(0 0 1vmin #ffffff75);
        position: absolute;
        top: 50%;
        right: 2vmin;
        transform: translateY(-50%) translateZ(0);
    }
}
sectionOverlay {
    transform: translateZ(0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(.5vmin);
}
@mixin icon($font-size) {
    &:hover {
        transform: scale(125%);
        color: $active;
        filter: drop-shadow(0 0 1vmin $active);
    }
    aspect-ratio: 1/1;
    width: 100%;
    font-size: $font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: .35s;
    transition-timing-function: cubic-bezier(.74,.17,.29,.89);
    filter: drop-shadow(0 0 1vmin #ffffff75);
}
#sidebar {
    height: calc(100% - 2vmin);
    width: calc(5dvw - 2vmin);
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    background: #2222226b;
    backdrop-filter: blur(5vmin);
    box-sizing: border-box;
    border: .35vmin solid #ffffff20;
    border-radius: 1.5vmin;
    filter: drop-shadow(0 0 1vmin #ffffff20);
    i {
        & > :not(.sass-icon){
            @include icon(5vmin);
        }
        @include icon(3.5vmin);
    }
}
#contents {
    height: calc(100% - 2vmin);
    width: calc(45dvw - 2vmin);
    position: absolute;
    top: 1vmin;
    left: 5dvw;
    background: #2222226b;
    backdrop-filter: blur(5vmin);
    box-sizing: border-box;
    border: .35vmin solid #ffffff20;
    border-radius: 1.5vmin;
    filter: drop-shadow(0 0 1vmin #ffffff20);
    padding: 5vmin;
    h1 {
        font-size: 8.5vmin;
        margin: 0;
        padding: 0;
        font-weight: 800;
        color: $h1;
        filter: drop-shadow(0 0 1vmin #ffffff75);
        i {
            margin: 0;
            padding: 0;
            padding-right: 2.5vmin;
        }
    }
    p {
        font-size: 3vmin;
        margin: 0;
        padding: 0;
        font-weight: 400;
        color: $p1;
        filter: drop-shadow(0 0 1vmin #ffffff75);
    }
}
#am {
    height: 50dvh;
    width: 100%;
    margin: 0;
    padding: 5vmin;
    box-sizing: border-box;
    background: $bg2;
    h1 {
        font-size: 5vmin;
        margin: 0;
        padding: 0;
        font-weight: 800;
        color: $h1;
        padding-bottom: 2vmin;
        filter: drop-shadow(0 0 1vmin #ffffff75);
    }
    p {
        font-size: 2.75vmin;
        margin: 0;
        padding: 0;
        font-weight: 400;
        color: $p1;
        filter: drop-shadow(0 0 1vmin #ffffff75);
    }
}
.social-icon-wrapper {
    display: flex;
    height: auto;
    width: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    padding: .5vmin;
    padding-left: 0;
    i {
        color: $h1;
        font-size: 3.5vmin;
        filter: drop-shadow(0 0 1vmin #ffffff75);
        cursor: pointer;
        transition: .35s;
        transition-timing-function: cubic-bezier(.74,.17,.29,.89);
        padding-right: 1.5vmin;
        &:hover {
            transform: scale(125%);
            color: $active;
            filter: drop-shadow(0 0 1vmin $active);
        }
    }
}
#s3 {
    background: $bg1;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center;
    justify-content: flex-start;
    padding: 5vmin;
    box-sizing: border-box;
    .project {
        box-sizing: border-box;
        height: 100%;
        width: 85%;
        background: $bg2;
        border-radius: 1.5vmin;
        padding: 5vmin;
        margin: 1vmin;
        flex-grow: 0;
        flex-shrink: 0;
        h1 {
            font-size: 6.5vmin;
            margin: 0;
            padding: 0;
            color: $h1;
            filter: drop-shadow(0 0 1vmin #ffffff75);
        }
    }
}