@import url("https://fonts.cdnfonts.com/css/jetbrains-mono-2");
@font-face {
  font-family: logo;
  src: url("../assets/doomed.ttf");
}
body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", sans-serif;
}
body ::selection, html ::selection {
  background: #9900ff;
}

header {
  height: 75dvh;
  width: 100%;
  background: #222222;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: url("../assets/banner-bg.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#textWrapper {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #fff;
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.631372549));
}

#textWrapper span {
  padding-right: 3vmin;
  font-size: 5vmin;
  font-weight: 400;
  font-family: "JetBrains Mono", sans-serif;
}

#textWrapper h1 {
  font-weight: 400;
  font-family: logo;
  font-size: 9vmin;
}

section {
  height: 75dvh;
  width: 100%;
  display: block;
  position: relative;
}

#s1 {
  background: url("../assets/bg1.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#s1 #title {
  font-size: 8vmin;
  text-align: right;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  color: #e8e8e8;
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.4588235294));
  position: absolute;
  top: 50%;
  right: 2vmin;
  transform: translateY(-50%);
}

sectionOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(0.5vmin);
}

#sidebar {
  height: calc(100% - 2vmin);
  width: calc(5dvw - 2vmin);
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  background: rgba(34, 34, 34, 0.4196078431);
  backdrop-filter: blur(5vmin);
  box-sizing: border-box;
  border: 0.35vmin solid rgba(255, 255, 255, 0.1254901961);
  border-radius: 1.5vmin;
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1254901961));
}
#sidebar i {
  aspect-ratio: 1/1;
  width: 100%;
  font-size: 3.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: 0.35s;
  transition-timing-function: cubic-bezier(0.74, 0.17, 0.29, 0.89);
}
#sidebar i > :not(.sass-icon) {
  aspect-ratio: 1/1;
  width: 100%;
  font-size: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: 0.35s;
  transition-timing-function: cubic-bezier(0.74, 0.17, 0.29, 0.89);
}
#sidebar i > :not(.sass-icon):hover {
  transform: scale(125%);
  color: #9900ff;
  filter: drop-shadow(0 0 1vmin #9900ff);
}
#sidebar i:hover {
  transform: scale(125%);
  color: #9900ff;
  filter: drop-shadow(0 0 1vmin #9900ff);
}

#contents {
  height: calc(100% - 2vmin);
  width: calc(45dvw - 2vmin);
  position: absolute;
  top: 1vmin;
  left: 5dvw;
  background: rgba(34, 34, 34, 0.4196078431);
  backdrop-filter: blur(5vmin);
  box-sizing: border-box;
  border: 0.35vmin solid rgba(255, 255, 255, 0.1254901961);
  border-radius: 1.5vmin;
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.1254901961));
  padding: 5vmin;
}
#contents h1 {
  font-size: 8.5vmin;
  margin: 0;
  padding: 0;
  font-weight: 800;
  color: #e8e8e8;
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.4588235294));
}
#contents h1 i {
  margin: 0;
  padding: 0;
  padding-right: 2.5vmin;
}
#contents p {
  font-size: 3vmin;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #d4d4d4;
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.4588235294));
}

#am {
  height: 50dvh;
  width: 100%;
  margin: 0;
  padding: 5vmin;
  box-sizing: border-box;
  background: #2e2e2e;
}
#am h1 {
  font-size: 5vmin;
  margin: 0;
  padding: 0;
  font-weight: 800;
  color: #e8e8e8;
  padding-bottom: 2vmin;
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.4588235294));
}
#am p {
  font-size: 2.75vmin;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #d4d4d4;
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.4588235294));
}

.social-icon-wrapper {
  display: flex;
  height: auto;
  width: auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0.5vmin;
  padding-left: 0;
}
.social-icon-wrapper i {
  color: #e8e8e8;
  font-size: 3.5vmin;
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.4588235294));
  cursor: pointer;
  transition: 0.35s;
  transition-timing-function: cubic-bezier(0.74, 0.17, 0.29, 0.89);
  padding-right: 1.5vmin;
}
.social-icon-wrapper i:hover {
  transform: scale(125%);
  color: #9900ff;
  filter: drop-shadow(0 0 1vmin #9900ff);
}

#s3 {
  background: #222222;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: center;
  justify-content: flex-start;
  padding: 5vmin;
  box-sizing: border-box;
}
#s3 .project {
  box-sizing: border-box;
  height: 100%;
  width: 85%;
  background: #2e2e2e;
  border-radius: 1.5vmin;
  padding: 5vmin;
  margin: 1vmin;
  flex-grow: 0;
  flex-shrink: 0;
}
#s3 .project h1 {
  font-size: 6.5vmin;
  margin: 0;
  padding: 0;
  color: #e8e8e8;
  filter: drop-shadow(0 0 1vmin rgba(255, 255, 255, 0.4588235294));
}/*# sourceMappingURL=style.css.map */